@page "/cart"
<PageTitle>Shopping Cart</PageTitle>

<center><h1>Shopping Cart</h1></center>

@if (_cartItems == null || _cartItems.Count == 0)
{
    <span>@_message</span>
}
else
{
    <div class="container-fluid">
        <div class="row cart">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                <ul class="list-group">
                    @foreach (var product in _cartItems)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="@product.ImageUrl" alt="@product.Title" class="img-fluid" />
                                </div>
                                <div class="col-md-2">
                                    <h5><a href="/product/@product.ProductId">@product.Title</a></h5>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-12">
                                            Price:&nbsp;<span class="price">$@product.Price</span>
                                        </div>
                                        <div class="col-12 ">
                                            @product.Quantity x @product.Price = <span class="price">$@(product.Price * product.Quantity)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="number" value="@product.Quantity"
                                   @onchange="@((ChangeEventArgs e) => UpdateQuantity(e, product))"
                                   class="form-control input-quantity"
                                   min="1" />
                                </div>
                                <div class="col-md-2">
                                    <button class="my-1 btn btn-danger btn-sm" @onclick="@(() =>
        RemoveProductFromCart(product.ProductId, product.ProductTypeId))">
                                        <i class="oi oi-trash"></i>&nbsp;Remove
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h3>Order Summary</h3>
                    </li>
                    <li class="list-group-item">
                        Total (@_cartItems.Count): <span class="price">  $@_cartItems.Sum(product => @product.Price * product.Quantity)</span>
                    </li>
                    <li class="list-group-item my-1">
                        <button class="btn alert-success" @onclick="PlaceOrder">Place Order</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (_isAuthenticated)
                {
                    <div>
                        <h5>Delivery Address</h5>
                       <AddressForm />
                    </div>
                }
            </div>

        </div>
    </div>
}